<!DOCTYPE html>
<html lang="en" class="h-full">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="apple-touch-icon" href="/apple-touch-icon.png"/>
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png"/>
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png"/>
    <link rel="icon" href="/favicon.ico"/>
    <title>{{ title if title else site.title }}</title>
    <meta name="description" content="{{ site.description }}"/>
    <meta name="author" content="{{ site.author }}"/>
    <meta property="og:title" content="{{ title }}"/>
    <meta property="og:description" content="{{ site.description }}"/>
    <meta property="og:locale" content="{{ site.locale }}"/>
    <meta property="og:site_name" content="{{ site.site_name }}"/>
    {% include 'layouts/webpack.njk' %}
    <script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
    <script src="/myalgo.min.js" defer></script>
    {% if page.url == "/" %}
        <script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
        <script>
            if (window.netlifyIdentity) {
                window.netlifyIdentity.on('init', (user) => {
                    if (!user) {
                        window.netlifyIdentity.on('login', () => {
                            document.location.href = '/admin/';
                        });
                    }
                });
            }
        </script>
    {% endif %}
    {% block headscripts %}
    {% endblock %}
</head>

<body class="antialiased w-full text-gray-700 bg-gray-50 h-full overflow-y-scroll font-itim">

<div id="overlayMenu" class="overlay h-full w-0 fixed z-40 left-0 top-0 overflow-hidden transition-all bg-gray-300">
    <div class="overlayContent p-3 mt-12">
        <ul class="block text-center">
            {% for menuItem in site.menu.main %}
                <li>
                    <a class="text-gray-700 border-none hover:text-gray-800 text-2xl" href="{{ menuItem.link }}">
                        {{ menuItem.name }}
                    </a>
                </li>
            {% endfor %}
        </ul>
        <div class="flex justify-center mt-4">
            {% for sideMenuItem in site.menu.side %}
                <a class="p-2" title="{{ sideMenuItem.title }}" target="_blank" href="{{ sideMenuItem.href }}">
                    <img class="nav-icon h-5 w-5 {{ "rounded-3xl" if sideMenuItem.logoRounded }} {{ sideMenuItem.extraClass }}" src="{{ sideMenuItem.logoSrc }}">
                </a>
            {% endfor %}
        </div>
    </div>
</div>

<div id="mainContentWrapper" class="max-w-screen-lg px-3 mx-auto h-full grid template-rows-min-content z-0">
    <div class="relative">
        <div class="connect absolute right-0">
            <button id="connect" onClick="onConnectClick(this)" class="bg-gray-500 text-white rounded my-2 py-2 px-5 transform hover:bg-gray-600 transition-all tracking-wider">Connect</button>
            <div id="connect-submenu" class="bg-gray-300 rounded py-2 px-2 hidden">
                <a href="/myface" class="block p-1 hover:text-gray-800">MyFace</a>
                <a href="#" id="disconnect" onClick="onDisconnectClick(event)" class="block p-1 hover:text-gray-800">Disconnect</a>
            </div>
        </div>

        <div class="md:hidden absolute left-0 z-50">
            <a id="mobileBurger" onClick="onBurgerClick(event)" href="#">
                <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6 mt-4" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16"/>
                </svg>
            </a>
        </div>

        <div class="header h-36 md:h-40">
            {% block title %}
                {% if isHomepage %}
                    <h1 class="font-semibold text-3xl text-center text-gray-800 leading-8">
                        <div class="font-medium text-2xl text-gray-600">
                            {{ site.site_top_title }}
                        </div>
                        {{ site.title }}
                    </h1>
                {% else %}
                    <h1 class="font-semibold text-3xl text-center text-gray-800">
                        {{ title if title else site.title }}
                    </h1>
                {% endif %}
            {% endblock %}
        </div>

        <nav class="hidden md:flex flex-wrap text-xl border-b border-gray-300 pb-0.5">
            <ul class="flex">
                {% for menuItem in site.menu.main %}
                <li class="mr-6">
                    <a class="text-gray-700 border-none hover:text-gray-800" href="{{ menuItem.link }}">
                        {{ menuItem.name }}
                    </a>
                </li>
                {% endfor %}
            </ul>
            <ul class="flex ml-auto">
                {% for sideMenuItem in site.menu.side %}
                <li class="mr-6 flex">
                    <a class="flex items-center" title="{{ sideMenuItem.title }}" target="_blank" href="{{ sideMenuItem.href }}">
                        <img class="nav-icon h-5 w-5 {{ "rounded-3xl" if sideMenuItem.logoRounded }} {{ sideMenuItem.extraClass }}" src="{{ sideMenuItem.logoSrc }}">
                    </a>
                </li>
                {% endfor %}
            </ul>
        </nav>
    </div>

    <div class="md:mt-4 mb-16">
        {% if false %}
            <a target="_blank" href="https://www.randgallery.com/algo-collection/?address=STFCJE356Y6S5DUWZWJ2VIRI37DYQ65OTDMJQVOT62NMOQ4BW2YADS5SFQ"
               class="flex bg-red-900 p-6 justify-center items-start text-stupid-primary mb-4 transform hover:scale-105 transition-all hover:shadow-lg">
                <div>FIRST REVERSE AUCTION</div>
                <div class="flex" id="timer"><div>&nbsp;IN: 0d 00h 00m 00s</div></div>
            </a>
        {% endif %}
        {% block shuffle %}
            {% if false %}
                <a href="/shuffle-1"
                class="flex bg-red-900 p-6 justify-center items-start mb-4 button-promo">
                    <div>ENTER SHUFFLE</div>
                    <div class="flex" id="timer"><div>&nbsp;🎉 0d 00h 00m 00s</div></div>
                </a>
            {% endif %}
        {% endblock %}
        {% block content %}
        {% endblock %}
    </div>


    {% if false %}
    <script>
        function updateTimer() {
            var timer = document.getElementById("timer");

            if (!timer) return;

            future = 1638388800000;
            now = new Date();
            diff = future - now;

            days = Math.floor(diff / (1000 * 60 * 60 * 24));
            hours = Math.floor(diff / (1000 * 60 * 60));
            mins = Math.floor(diff / (1000 * 60));
            secs = Math.floor(diff / 1000);

            d = days;
            h = hours - days * 24;
            m = mins - hours * 60;
            s = secs - mins * 60;


            if (diff > 0) {
                timer.innerHTML = `<div>&nbsp;🎉 ${d}d ${h}h ${m}m ${s}s</div>`;
                //timer.innerHTML = `<div>&nbsp;IN: ${d}d ${h}h ${m}m ${s}s</div>`;
            } else {
                timer.innerHTML = `<div>&nbsp;🚫 ENDED 🚫</div>`;
                //timer.innerHTML = `<div>&nbsp;🔥 LIVE 🔥</div>`;
            }
        }
        setInterval('updateTimer()', 1000);
    </script>
    {% endif %}

    <script>
        async function onConnectClick(button) {
            const isLoggedIn = window.localStorage.getItem('pubKey');

            if (isLoggedIn) {
                const connectSubmenu = document.getElementById('connect-submenu');
                connectSubmenu.classList.toggle('hidden');
            } else {
                const myAlgoConnect = new MyAlgoConnect();
                const accounts = await myAlgoConnect.connect({ shouldSelectOneAccount: true });
                const pubKey = accounts[0].address;

                const pubKeyShort = pubKey.replace(pubKey.substring(4,54), "...");

                window.localStorage.setItem('pubKey', pubKey);
                window.localStorage.setItem('pubKeyShort', pubKeyShort);

                button.innerHTML = pubKeyShort;
            }
        }

        function onDisconnectClick(event) {
            const connectSubmenu = document.getElementById('connect-submenu');
            connectSubmenu.classList.add('hidden');
            event.preventDefault();
            window.localStorage.clear();
            const connector = document.getElementById('connect');
            connector.innerHTML = 'Connect';
        }

        function onBurgerClick(event) {
            event.preventDefault();
            const overlayMenu = document.getElementById('overlayMenu');
            const mainContentWrapper = document.getElementById('mainContentWrapper');
            overlayMenu.classList.toggle('w-full');
            mainContentWrapper.classList.toggle('overflow-hidden');
        }

        document.addEventListener('DOMContentLoaded', (event) => {
            const pubKeyShort = window.localStorage.getItem('pubKeyShort');

            if (pubKeyShort) {
                const connector = document.getElementById('connect');
                connector.innerHTML = pubKeyShort;
            }

        });

        document.addEventListener('keydown', (event) => {
            if (event.key === 'ArrowRight') {
                window.location = "/{{pagination.next}}"
            };
            if (event.key === 'ArrowLeft') {
                window.location = "/{{pagination.previous}}"
            }
        });
    </script>

    <div class="mt-auto">
        {% if pagination %}
            <div class="pagination inline-flex w-full justify-between">
                {% if pagination.previous %}
                    <a class="mr-auto" href="/{{pagination.previous}}">
                        <svg class="h-5 w-5 mr-2 fill-current" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="-49 141 512 512" style="enable-background:new -49 141 512 512;" xml:space="preserve">
                            <path id="XMLID_10_" d="M438,372H36.355l72.822-72.822c9.763-9.763,9.763-25.592,0-35.355c-9.763-9.764-25.593-9.762-35.355,0 l-115.5,115.5C-46.366,384.01-49,390.369-49,397s2.634,12.989,7.322,17.678l115.5,115.5c9.763,9.762,25.593,9.763,35.355,0 c9.763-9.763,9.763-25.592,0-35.355L36.355,422H438c13.808,0,25-11.193,25-25S451.808,372,438,372z"></path>
                        </svg>
                    </a>
                {% endif %}
                {% if pagination.next %}
                    <a class="ml-auto" href="/{{pagination.next}}">
                        <svg class="h-5 w-5 ml-2 fill-current" clasversion="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                        viewBox="-49 141 512 512" style="enable-background:new -49 141 512 512;" xml:space="preserve">
                        <path id="XMLID_11_" d="M-24,422h401.645l-72.822,72.822c-9.763,9.763-9.763,25.592,0,35.355c9.763,9.764,25.593,9.762,35.355,0
                            l115.5-115.5C460.366,409.989,463,403.63,463,397s-2.634-12.989-7.322-17.678l-115.5-115.5c-9.763-9.762-25.593-9.763-35.355,0
                            c-9.763,9.763-9.763,25.592,0,35.355l72.822,72.822H-24c-13.808,0-25,11.193-25,25S-37.808,422-24,422z"/>
                        </svg>
                    </a>
                {% endif %}
            </div>
        {% endif %}
        <div class="border-t border-gray-300 text-center py-8">
            © Stupid Faces {{ page.date.getFullYear() }}
        </div>
    </div>
</div>
</body>
</html>
