---
permalink: 'about/index.html'
title: About
---
{% extends 'layouts/base.njk' %}

{% block content %}
    <div class="text-lg mt-4">
        <div class="mb-4">
            <h2 class="font-semibold">What?</h2>
            <p>Stupid Faces are a collection of a not yet known amount of imperfect hand painted NFTs living on the Algorand blockchain - each one uniquely stupid and build from scratch.</p>
            <p>The idea behind this website is to be become a kind of interactive comic book for all Stupid Face holders and collectors eventually. All code is open source and available on <a href="https://github.com/StupidFaces" target="_blank" class="text-link">GitHub</a>.</p>
        </div>
        <div class="mb-4">
            <h2 class="font-semibold">Who?</h2>
            <p>Stupid Faces are created by grex, a webdeveloper who has been scribbling cartoon faces on every sheet of paper crossing his fingers ever since he has read Asterix & Obelix in his childhood. Shoutout also to his friend <a href="https://nihililix.de/" class="text-link" target="_blank">nihililix</a> without whose help the design of the homepage wouldn't nearly be as clean.</p>
        </div>
        <div class="mb-4">
            <h2 class="font-semibold">When?</h2>
            <p>The first non-fungible Stupid Face was created and sold on 25th of September 2021.</p>
        </div>
        <div class="mb-4">
            <h2 class="font-semibold">Why?</h2>
            <p>Because stupidity cannot be stopped.</p>
        </div>
    </div>
{% endblock %}


