---
permalink: 'about/index.html'
title: About
---
{% extends 'layouts/base.njk' %}

{% block content %}
    <div class="text-lg mt-4 mb-16">
        <div class="mb-4">
            <h2 class="font-semibold">What?</h2>
            <p>Stupid Faces are a collection of a not yet known amount of imperfect hand painted NFTs living on the Algorand blockchain - each one uniquely stupid and build from scratch.</p>
            <p>The idea behind this website is to be become a kind of interactive comic book for all Stupid Face holders and collectors eventually. All code is open source and available on <a href="https://github.com/StupidFaces" target="_blank" class="text-link">GitHub</a>.</p>
        </div>
        <div class="mb-4">
            <h2 class="font-semibold">Who?</h2>
            <p>Stupid Faces are created by grex (<a href="https://discord.com/users/768903186387566702" class="text-link" target="_blank">discord</a>, <a href="https://ab2.gallery/address/JC4KKKL75OCHIMULHSNWUZCPGDJGAPMS4Q3KMZO3I3GSA43ZOOGX4KKVA4" class="text-link" target="_blank">ab2</a>), a webdeveloper who has been scribbling cartoon faces on every sheet of paper crossing his fingers ever since he has read Asterix & Obelix in his childhood. Shoutout also to his friend <a href="https://ab2.gallery/account/RIVO6GZHMRARJF7DBHTUMKBEZMNMH5ZNGEC6J3ZAVXV3JCDTJFMNMJZ5YU" class="text-link" target="_blank">primaltroll</a> without whose help the design of the homepage wouldn't nearly be as clean and who is also a great pixel artist!</p>
        </div>
        <div class="mb-4">
            <h2 class="font-semibold">When?</h2>
            <p>The first non-fungible Stupid Face was created and sold on 25th of September 2021.</p>
        </div>
        <div class="mb-4">
            <h2 class="font-semibold">Why?</h2>
            <p>Because stupidity cannot be stopped.</p>
        </div>
    </div>
    <div class="text-lg">
        <div class="mb-4">
            <h2 class="font-semibold">Stupid Face of the Month?</h2>
            <p>Since everybody likes randomness there will be a super stupid no-win-raffle each month where a random Stupid Face will be selected and displayed on top of the homepage... that's it.</p>
        </div>
        <div class="mb-4">
            <h2 class="font-semibold">Adoption?</h2>
            <p>Every owner of an unnamed Stupid Face is permitted to adopt it <a class="text-link" href="/adopt">here</a>, which means he can give it a name and also show his own name as adopter on the face's detail page. Adoption will only be possible once per face and could take up to 48h since it's not fully automated. The data will for now only be stored and used on the website (not on blockchain).</p>
        </div>
        <div class="mb-4">
            <h2 class="font-semibold">What's next?</h2>
            <p>StoryBook - Every new owner will be able to add a sentence of a Stupid Face's story listed on the face's detail page. There will also be an overview page of all recent stories.</p>
        </div>
    </div>
{% endblock %}


