---
permalink: 'donate/index.html'
title: Donate
---
{% extends 'layouts/base.njk' %}

{% block content %}
    <div>
        <div class="text-lg">
            <div class="mt-8 mb-8">
                <h2 class="font-semibold">You are about to donate to bring more stupidity to this world... so better think twice!</h2>
                <p>Code for dynamic approach of AlgoPay implementation can be found on <a class="text-link" target="_blank" href="https://github.com/StupidFaces/StupidFaceSSG/blob/master/src/donate.njk">Github</a></p> - but also DYOR.
            </div>
        </div>
        <form class="w-full" name="donate">
            <div class="mb-8">
                <div class="mb-4">
                    <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2"
                           for="adopter-contact">
                        Amount in Algo
                    </label>
                    <input onchange="onAmountChange(event)" class="appearance-none block w-full bg-gray-200 text-gray-700 rounded py-3 px-4 mb-2 leading-tight focus:outline-none focus:bg-white"
                           id="amount" name="amount" type="text"
                           placeholder="1">
                </div>

                <div>
                    <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2"
                           for="adopter-contact">
                        Note
                    </label>
                    <input onchange="onNoteChange(event)" class="appearance-none block w-full bg-gray-200 text-gray-700 rounded py-3 px-4 mb-2 leading-tight focus:outline-none focus:bg-white"
                           id="note" name="note" type="text"
                           placeholder="Hello World!">
                </div>
            </div>
        </form>
    </div>

    <link href="https://unpkg.com/algopay-js@1.0.3/dist/styles.css" rel="stylesheet">
    <div id="root"></div>

    <script>
        var initialAmount = document.getElementById('amount').value;
        var initialNote = document.getElementById('note').value;

        window.details = {
            amount: initialAmount,
            note: initialNote,
            index: 0, // Asset index number, otherwise, enter 0 for Algorand
            recipient: "KKBVJLXALCENRXQNEZC44F4NQWGIEFKKIHLDQNBGDHIM73F44LAN7IAE5Q"
        }
        initAlgoPay();

        function onAmountChange(event) {
            window.details.amount = parseInt(event.target.value) * 10 ** 6;
            initAlgoPay();
        }

        function onNoteChange(event) {
            window.details.note = event.target.value;
            initAlgoPay();
        }

        function initAlgoPay() {
            var algoPayElement = document.getElementById('algo-pay');
            if (algoPayElement) {
                algoPayElement.remove();
            }
            var script = document.createElement('script');

            script.id = 'algo-pay'
            script.src= 'https://unpkg.com/algopay-js@1.0.3/dist/index.js';
            document.head.appendChild(script);
        }


    </script>
{% endblock %}


