---
permalink: 'index.html'
---
{% extends 'layouts/base.njk' %}
{% import "macros/doodleCounter.njk" as doodleCounter %}

{% block content %}
    <div>

        {% set faceOfTheMonth = collections.faces | getFaceOfTheMonth %}
        {% if faceOfTheMonth %}
        <div class="grid ">
            <a href="{{ faceOfTheMonth.fileSlug }}" class="grid grid-cols-1 md:grid-cols-6 transform hover:scale-105 transition-all hover:shadow-lg bg-stupid-primary mb-4">
                <img class="md:col-start-2 md:col-span-2" title="{{ faceOfTheMonth.data.title }}" alt="{{ faceOfTheMonth.data.title }}" src="/assets/faces/{{ faceOfTheMonth.data.ipfs }}"/>
                <div class="md:col-span-2 grid items-center justify-center md:justify-start">
                    <div class="text-gray-900 mb-4 text-center md:text-left">
                        <div class="text-2xl flex text-red-800 uppercase">
                            <div class="w-3">F</div>
                            <div class="w-4 transform translate-y-0.5 -rotate-6">a</div>
                            <div class="w-4 transform rotate-6">c</div>
                            <div class="w-4 mr-2 transform rotate-3">e</div>
                            <div class="w-5">o</div>
                            <div class="w-5 mr-1 transform -rotate-6">f</div>
                            <div class="w-4 transform rotate-12">t</div>
                            <div class="w-5 transform rotate-6">h</div>
                            <div class="w-5 mr-2 transform -rotate-12">e</div>
                            <div class="w-5 transform -rotate-6">m</div>
                            <div class="w-5 transform rotate-12 translate-y-0.5 ">o</div>
                            <div class="w-5 transform -rotate-12">n</div>
                            <div class="w-4 transform rotate-3">t</div>
                            <div class="w-5 transform rotate-6">h</div>
                            <div class="w-5 transform -rotate-12">:</div>
                        </div>
                        <div class="text-4xl">{{ faceOfTheMonth.data.adoptionName if faceOfTheMonth.data.adoptionName else faceOfTheMonth.data.title }}</div>
                    </div>
                </div>

            </a>
        </div>
        {% endif %}

        <div class="grid grid-cols-1 gap-4 md:grid-cols-3">
            {% for face in collections.faces | reverse %}
                <a href="{{ face.fileSlug }}" class="relative group transform hover:scale-105 transition-all hover:shadow-lg">
                    <img title="{{ face.data.titleTag }}" alt="{{ face.data.titleTag }}" loading="lazy" src="/assets/faces/{{ face.data.ipfs }}"/>
                    {% set count = face.data.faceOfTheMonth | getFaceOfTheMonthCount %}
                    <div class="absolute bottom-8 right-4">
                        {{ doodleCounter.doodleCounter(count, 'text-red-800') }}
                    </div>
                    {% if face.data.adoptionName %}
                        <div class="absolute bottom-2 left-3 text-stupid-secondary opacity-50 md:opacity-0 group-hover:opacity-40 transform transition-all duration-300">
                            {{ face.data.adoptionName }}
                        </div>
                    {% endif %}
                    {% if face | isNew %}
                        <div class="absolute top-0 left-0 py-0.5 px-2 bg-black text-stupid-primary text-xs opacity-30">
                            <div>NEW</div>
                        </div>
                    {% endif %}
                    {% if face | isFaceOfTheMonth %}
                        <div class="absolute top-0 right-0 py-0.5 px-2 bg-red-900 text-stupid-primary text-xs opacity-90">
                            <div>FACE</div>
                        </div>
                    {% endif %}
                </a>
            {% endfor %}
        </div>
    </div>
{% endblock %}


