---
permalink: 'index.html'
---
{% extends 'layouts/base.njk' %}

{% block content %}
    <div>
        {% set faceOfTheMonth = collections.faces | getFaceOfTheMonth %}
        {% if faceOfTheMonth %}
        <div class="grid ">
            <a href="{{ faceOfTheMonth.fileSlug }}" class="grid grid-cols-1 md:grid-cols-6 transform hover:scale-105 transition-all hover:shadow-lg bg-stupid-primary mb-4">
                <img class="md:col-start-2 md:col-span-2" title="{{ faceOfTheMonth.data.title }}" alt="{{ faceOfTheMonth.data.title }}" src="https://{{ faceOfTheMonth.data.ipfs }}.ipfs.infura-ipfs.io"/>
                <div class="md:col-span-2 grid items-center justify-center md:justify-start">
                    <div class="text-gray-900 mb-4 text-center md:text-left">
                        <div class="text-2xl flex text-red-800 uppercase">
                            <div class="w-3">F</div>
                            <div class="w-4 transform translate-y-0.5 -rotate-6">a</div>
                            <div class="w-4 transform rotate-6">c</div>
                            <div class="w-4 mr-2 transform rotate-3">e</div>
                            <div class="w-5">o</div>
                            <div class="w-5 mr-1 transform -rotate-6">f</div>
                            <div class="w-4 transform rotate-12">t</div>
                            <div class="w-5 transform rotate-6">h</div>
                            <div class="w-5 mr-2 transform -rotate-12">e</div>
                            <div class="w-5 transform -rotate-6">m</div>
                            <div class="w-5 transform rotate-12 translate-y-0.5 ">o</div>
                            <div class="w-5 transform -rotate-12">n</div>
                            <div class="w-4 transform rotate-3">t</div>
                            <div class="w-5 transform rotate-6">h</div>
                            <div class="w-5 transform -rotate-12">:</div>
                        </div>
                        <div class="text-4xl">{{ faceOfTheMonth.data.adoptionName if faceOfTheMonth.data.adoptionName else faceOfTheMonth.data.title }}</div>
                    </div>
                </div>

            </a>
        </div>
        {% endif %}
        <div class="grid grid-cols-1 gap-4 md:grid-cols-3">
            {% for face in collections.faces | reverse %}
                <a href="{{ face.fileSlug }}" class="relative transform hover:scale-105 transition-all hover:shadow-lg">
                    <img title="{{ face.data.title }}" alt="{{ face.data.title }}" src="https://{{ face.data.ipfs }}.ipfs.infura-ipfs.io"/>
                    <div class="flex h-2 absolute bottom-8 right-4 text-red-800 text-2xl">
                        {% set count = face.data.faceOfTheMonth | getFaceOfTheMonthCount %}
                        {% if count >= 1 %}<div class="w-1 transform rotate-6">l</div>{% endif %}
                        {% if count >= 2 %}<div class="w-1 -mt-0.5 transform -rotate-3">l</div>{% endif %}
                        {% if count >= 3 %}<div class="w-1 transform -rotate-6">l</div>{% endif %}
                        {% if count >= 4 %}<div class="w-1 -mt-0.5 ml-1 transform rotate-3">l</div>{% endif %}
                        {% if count >= 5 %}<div class="w-1 transform scale-y-150 rotate-45">l</div>{% endif %}
                    </div>
                </a>
            {% endfor %}
        </div>
    </div>
{% endblock %}


