@tailwind base;

@tailwind components;

@tailwind utilities;

.content {
    @apply tracking-wider leading-8 text-xl;
}

.content p {
    @apply my-5;
}

.content h1 {
    @apply text-5xl font-bold mt-12 mb-5 leading-10;
}

.content h2 {
    @apply text-4xl font-bold mt-10 mb-5;
}

.content h3 {
    @apply text-3xl font-bold mt-10 mb-5;
}

.content h4 {
    @apply text-2xl font-bold mt-10 mb-5;
}

.content h5 {
    @apply text-xl font-bold mt-10 mb-5;
}

.content h6 {
    @apply text-lg font-bold mt-10 mb-5;
}

.content ul,
.content ol,
.content p {
    @apply overflow-auto;
}

.content > div > ul,
.content > div > ol {
    @apply my-6;
}

.content ul,
.content ol {
    @apply pl-8;
}

.content ul {
    @apply list-outside list-disc;
}

.content ol {
    @apply list-outside list-decimal;
}

.content pre[class*='language-'] {
    @apply my-8;
}

.content table {
    @apply whitespace-nowrap my-8 border-collapse block overflow-auto;
}

.content th,
.content td {
    @apply border px-8 py-4;
}

.content th {
    @apply bg-gray-100;
}

.nav-icon {
    filter: grayscale(100%);
}

.nav-icon:hover {
    filter: none;
}

.field {
    @apply border py-2 px-3;
}

.field-label {
    @apply uppercase text-lg mb-2;
}

.field-group {
    @apply flex flex-col;
}

.template-rows-min-content {
    grid-template-rows: min-content;
}

.text-link {
    @apply underline;
    @apply hover:text-gray-900;
}

.rand-logo {
    background-color: #012;
}

.hodlerLink img {
    filter: sepia(1) grayscale(0.6);
    transition: all 0.7s;
}

.hodlerLink:hover img {
    filter: sepia(0) grayscale(0);
}

.header {
    height: 160px;
    display: grid;
    justify-content: center;
    align-items: center;
}


.button-promo {
    @apply bg-red-900;
    @apply p-3;
    @apply text-stupid-primary;
    @apply transform;
    @apply hover:scale-105;
    @apply transition-all;
    @apply hover:shadow-lg;
}

.button-disabled {
    @apply bg-gray-600;
    @apply text-gray-400;
    cursor: not-allowed;

}

.rarity-text::before {
    display: inline-block;
    content: '';
    width: 5px;
    height: 15px;
    margin-right: 5px;
}

.rarity-text-common::before {
    background-color: #c2c2c2;
}

.rarity-text-epic::before {
    background-color: #A33F89;
}

.rarity-text-uncommon::before {
    background-color: #3f80b4;
}

.rarity-text-rare::before {
    background-color: #ffc131;
}

.aspect-square {
    aspect-ratio: 1/1;
}